.inventory {
  position: absolute;
  z-index: 1;
  background-color: #cccccc;
  height: calc(100% - 80px);
  width: calc(100% - 20px);
  left: 10px;
  top: 10px;
}

.inventoryOnTop {
  position: absolute;
  z-index: 1000;
  background-color: #cccccc;
  height: calc(100% - 80px);
  width: calc(100% - 20px);
  left: 10px;
  top: 10px;
}

.inventoryContent {
  padding: 8px;
}

.header {
  width: 100%;
  display: flex;
  font-size: 20px;
}

.title {
  flex-grow: 1;
  text-align: center;
}

.close {
  width: 20px;
  height: 20px;
}